:root {
 /*Colores*/
  --color-1: #ADD902;  
  --color-2: #72BB05; 
  --color-3: #268101; 
  --color-4: #113903; 
  --backgroud: #edffa4;
}

.container {
  background-color: var(--backgroud);
  padding: 80px;
  display: grid;
  grid-template-columns: 160px 160px;
  grid-template-rows: 160px 160px 160px;
  grid-auto-flow: column;
  justify-content: center;
  gap: 24px;
}
div.item:nth-child(2) {
  background-color: var(--color-2);
}
div.item:nth-child(5) {
  background-color: var(--color-2);
}
div.item:nth-child(3) {
  background-color: var(--color-3);
}
div.item:nth-child(6) {
  background-color: var(--color-3);
}
.item {
  background-color: var(--color-1);
  border-radius: 8px;
  font-size: 2.5rem;
  color: white;
}
p {
  text-align: center;
  width: 56px;
  height: 56px;
  background-color: var(--color-3);
  margin: 0;
  border-radius: 8px;
}
